# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.env.*

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pdb

# VS Code
.vscode/

# macOS
.DS_Store

# System files
Thumbs.db

# Installer logs
pip-log.txt

# Dependency folders
.venv/
env/
venv/

# Railway configs (optional)
.railway/

# Pytest cache
.pytest_cache/

